@import 'variables.module';


.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10vw;
}



.titleContainer {
  //border: 1px solid black;
  margin-top: 9em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.notAppTitle {
  color: $clr-primary-dark;
  font-weight: 500;
}
.appTitle {
  color: $clr-primary;
  font-weight: 800;
}

.redisommDemo {
  box-shadow: 10px 5px 5px lighten($clr-primary-dark, 50);
}

.text {
  padding-right: 4em;
  text-align: center;
}

